/* リセット　*/
html,body{
  margin: 0 0;
  padding: 0 0;
  font-family:'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro',' Meirio メイリオ','ＭＳ Ｐゴシック',Arial,sans-serif;
  background-color: rgba(107,159,227,.56);
}
li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
ul {
  margin: 0;
  padding: 0;
}

/* all CSS */

a {
  text-decoration-line: none;
  color: #ffffff;
}
.wrapper {
  height:auto;
  position: relative;
}

/* Actions */

/* フェードインアクション　*/

@keyframes fadeIn {
  0%{
    opacity: 0;
  }
  100% {
    opacity: 1.0;
  }
}

/* nextスライド　*/

@keyframes slideNext {
  0% {

    right: 0px;
  }
  100% {
    right: -100%;
  }
}

/* prevスライド　*/

@keyframes slidePrev {
  0% {
    right: -100%;
  }
  100% {
    right: 0%;
  }
}

/* バックカラーアクション　*/

@keyframes backAction {
  100% {
    background-position:0px center;
}
}


/* ヘッダー　*/

header {
  width: 100%;
  height: 28px;
  background-color: #ffffff;
  opacity: 0.8;
  position: fixed;
  z-index: 10;
}
.header-contents {
  height: 24px;
  width: 100%;
  float: left;
}
.header-logo {
  margin-left: 10px;
  display: inline;
}
.header-logo-image {
  height: 20px;
}
.header-links {
  display: inline-block;
  height: 24px;
  font-size: 12px;
  margin-left: 20px
}
.header-links li{
  float:left;
  font-family: '游明朝', 'Yu Mincho';
  font-weight: bold;
  margin-top: 6px;
  margin-left: 40px;
}
.header-links a {
  color: rgba(17,18,20,1);
}
.header-snss {
  display: inline-block;
  float: right;
}
.header-sns {
  height: 24px;
  width: 200px;
  display: inline-block ;
  font-size: 8px;
  color: #ffffff;
}
.header-sns li {
  margin-top: 6px;
  margin-left: 8px;
  border-radius: 2px;
  height: 16px;
  float: left;
}

p {
  font-size: 14px;
  margin: 10px 0px;
}

/* トップコンテンツ　*/

.top-container {
  height: 1140px;
  margin: 0 13%;
  position: relative;
}
.top-copy {
  height: 318px;
}
.top-title {
  width: 179px;
  display: none;
}
.top-copy h1 {
  padding: 36px 0 0 66px;
  margin: 0 0;
}
.top-detail {
  width: 196px;
  height: 220px;
  position: absolute;
  top: 24px;
  left: 360px;
}
.top-detail p {
  color:rgba(122,117,117,1);
  font-family: '游明朝', 'Yu Mincho';
  display: inline-block;
  writing-mode: vertical-rl;
  font-size: 28px;
  font-weight: bold;
}
.navies {
  position: absolute;
  right: 160px;
  font-size: 24px;
  color:#808080;
  font-family: '游明朝', 'Yu Mincho';
  height: 300px;
  width: 600px;
  margin: 0 auto;
  position: relative;
  writing-mode: vertical-rl;
}
.navies li {
  position: absolute;
}
.navies a {
  font-weight: bold;
}
.top-images {
  height: 1149px;
  width: 245px;
  position: absolute;
  top: 120px;
  right: 82px;
}
.news {
  position: absolute;
  left: 60px;
  font-size: 12px;
}
.news h1 {
  color: #ffffff;
  margin: 0;
  font-family: '游明朝', 'Yu Mincho';
}
.report {
  font-size: 12px;
  width: 600px;
  height: 200px;
}
.report li {
  width: 600px;
  height: 21.6px;
  margin: 6px 0;
  float: left;
}
.report p {
  float: left;
  text-align: center;
  color: #ffffff;
}
.news-topic {
  margin-left: 8px;
  font-size: 12px;
  background-image: url(./images/ps_source/background2.png);
  background-repeat: no-repeat;
  background-size: 484px;
  background-position:-484px center;
}
.news-topic:hover {
  color: #ffffff;
  animation-fill-mode: forwards;
  animation-name: backAction;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
}
.new {
  width: 64px;
  height: 14px;
  padding: 2px 10px;
  font-size: 10px;
  margin: 10px 6px;
  border-radius: 2px;
  background: linear-gradient(0deg, #494944, #a19593);
}
.company {
  width: 64px;
  height: 14px;
  padding: 2px 10px;
  font-size: 10px;
  margin: 10px 6px;
  border-radius: 2px;
  background-color: rgba(238,157,31,1);
}
.news-lineup p {
  width: 74px;
  height: 28px;
  padding-top: 4px;
  background-color: #ffffff;
  text-align: center;
  font-size: 10px;
}
.news-lineup a {
  color: rgba(1,1,1,1);
}
.news-lineup p:hover {
  background-color: rgba(87,90,91,1);
  color: #ffffff;
}
.sns {
  margin-top: 36px;
}
.sns li {
  float: left;
  color: #ffffff;
  border-radius: 4px;
  margin-right: 20px;
  padding: 4px 6px;
}
.twitter {
  background-color: #1b95e0;
}
.good {
  background-color: rgba(48,67,218,1);
}
#twitter,#good {
  font-weight: bold;
}
.intro-container {
  background-image: url(./images/ps_source/yashiki.png);
  background-size: cover;
}

/* イントロダクション　*/

#intro {
  width: 640px;
  font-size: 16px;
  color:#ffffff;
  font-family: '游明朝', 'Yu Mincho';
  writing-mode: vertical-rl;
  margin: 0 5% 0 20%;
  position: relative;
  right: 30px;
}

#intro-title {
  font-size: 54px;
  font-weight: bold;
}
#intro-ruby {
  font-size: 16px;
  font-family: sans-serif;
}
#intro-detaile {
  margin-top: 80px;
  float: right;
  font-weight: bold;
}
#slide-navi {
  border: solid 2px #ffffff;
  padding: 4px 2px;
  margin-top: 360px;
  position:absolute;
  left: 30px;
  font-size: 12px;
}
.lineup {
  height: 1000px;
  position: relative;
}
.lineup-top {
  writing-mode: vertical-rl;
  color: #ffffff;
  font-family: '游明朝', 'Yu Mincho';
  margin-top: 150px;
  position: absolute;
  top: 24px;
  right: 134px;
}
#lineup-title {
  font-size: 68px;
}
#lineup-ruby {
  font-size: 16px;
  font-family: sans-serif;
}
#lineup-detaile {
  margin-top: 80px;
  float: right;
  font-weight: bold;
  background-color: rgba(129,139,142,.63);
}

/* 主力商品　*/

.unicorn-item {
  width: 84%;
  height: 600px;
  font-size: 36px;
  margin: 0 auto;
  position: absolute;
  top: 340px;
  right: 0;
}
.name {
  font-size: 30px;
  font-weight: bold;
  color: rgba(99,99,99,.77);
}
.detail {
  letter-spacing: 2px;
  margin-top: 20px;
  color: rgba(41,41,41,1);
}
.unicorn-item img {
  width: 150px;
  height: 560px;
  display: inline;
  float: left;
}
.unicorn-item-detail {
  width: 320px;
  height: 400px;
  margin-left: 60px;
  padding: 36px 6px 0 6px;
  float:left;
  background-color: rgba(211,218,221,.51);
}
.utakata-container{
  height: 800px;
  width: 100%;
  margin: 0 0;
  display: flex;
  position: relative;
}
.utakata {
  margin-top: 32px;
  margin-right: 30px;
  padding: 10px 10px 60px 10px;
  width: 320px;
  height: 540px;
  font-family: '游明朝', 'Yu Mincho';
  background-color: rgba(182,190,195,1);
}
.utakata-detail {
    font-size: 12px;
    font-family: 'メイリオ', 'Yu Meirio';
    color: rgba(60,58,64,1);
}
.roma {
  font-size: 16px;
  font-family: sans-serif;
  color: #ffffff;
}
.uni-title {
  font-size: 28px;
  font-weight: bold;
  color: rgba(80,83,96,1);
}

/* おすすめ商品　*/

.bancy-item {
  height: 600px;
  font-size: 36px;
  position: absolute;
  right: 200px;
}

.bancy-item img {
  width: 150px;
  height: 560px;
  display: inline;
  position: absolute;
  top: 60px;
  right: 65px;
}
.bancy-item-detail {
  width: 320px;
  padding: 20% 0;
  position: absolute;
  top: 120px;
  right: 260px;
}
.taizan-container{
  height: 800px;
  width: auto;
  margin: 0 0;
  display: flex;
  position: relative;
  right: 0px
}
.taizan {
  margin-top: 64px;
  padding: 8px 8px 12px 8px;
  width: 240px;
  height: 320px;
  font-family: '游明朝', 'Yu Mincho';
  background-color: rgba(182,190,195,1);
}
.taizan-item {
  height: 600px;
  font-size: 36px;
  position: absolute;
  right: 200px;
}

/* おすすめその２　*/

.cshatria-item img {
  width: 400px;
  height: 560px;
  display: inline;
  position: absolute;
  top: 60px;
  right: 65px;
}
.cshatria-item-detail {
  width: 320px;
  padding: 20% 0;
  position: absolute;
  top: 80px;
  right: 450px;
}

/* itemコンテンツ　*/

.item-wrapper{
  width: 100%;
  height: 7200px;
}
.item-container{
  width: 84%;
  height: 100%;
  margin: 0 auto;
  display: none;
}
.item {
  width: 84%;
  height: 600px;
  font-size: 36px;
  margin: 0 15%;
  position: relative;
}

.item img {
  width: 440px;
  height: 560px;
  display: inline;
  position: absolute;
}
.item-details {
  width: 320px;
  padding: 20% 0;
  position: absolute;
  top: 80px;
}

.options {
  height: 84px;
  width: 320px;
  text-align: center;
}
.option {
}
.option li {
  font-size: 6px;
  float: left;
  margin-left: 4px;
  padding: 2px 4px;
  color: #ffffff;
  background-color: rgba(85,86,91,.89);
}


.show {
  display:block;
  animation-name: fadeIn;
  animation-duration: 2s;
  animation-iteration-count: 1;
}

/* スライダーCSS　*/

.slide-wrap {
  height: 900px;
  width: auto;
  overflow: hidden;
  position: relative;
  margin: 0 0;
}
.container-slide-block {
  width: auto;
  height: 900px;
  position: absolute;
  top: 0px;
  right: 0px;
}
.slide-blocks {
  height: 900px;
  margin: 0 0;
  top: 0;
  overflow: hidden;
  position: relative;
}
.slide-blocks ul  {
  height: 900px;
  position: absolute;
  float: left;
  text-align: center;
  display: inline;
  overflow: hidden;
}
.slide-blocks li {
  height: 900px;
  position: relative;
  float: left;
  display: inline;
  overflow: hidden;
}
.slide li img {
  height: 720px;
  width: 1500px;
}
.slide-img {
  width: 1500px;
  overflow: hidden;
}
.slide-detail {
  position: absolute;
  top: 0px;
  right: 100px;
  color:#ffffff;
  font-family: '游明朝', 'Yu Mincho';
  height: 720px;
  width: 600px;
  background-color: rgba(204,218,218,0.4);
  margin: 0 auto;
  writing-mode: vertical-rl;
}
.number {
  writing-mode: horizontal-tb;
}
.slide-detail-title {
  font-size: 40px;
  font-weight: bold;
}
.slide-detail p {
  font-size: 24px;
  text-align: left;
}


.next {
  animation-fill-mode: backwards;
  animation-name: slideNext;
  animation-duration: 4s;
  animation-iteration-count: 1;
}


.prev {
  animation-fill-mode: backwards;
  animation-name: slidePrev;
  animation-duration: 4s;
  animation-iteration-count: 1;
}

#next-btn {
  position:absolute;
  top: 40%;
  right: 0%;
  z-index: 10;
  width: 100px;
  height:100px;
}
#prev-btn {
  position: absolute;
  top: 40%;
  left: 0%;
  z-index: 10;
  width: 100px;
  height:100px;
}

/* ジャンプポイント　*/

.points {
  position: fixed;
  top: 20%;
  right: 10px;
  z-index: 10;
}
.point {
  width: 10px;
  height: 10px;
  box-shadow: 1px;
}
.point:hover {
  background-color: #fff;
}

/* ボトムコンテンツ　*/

.btm-logos {
  height: 220px;
}
.btm-logos ul {
  margin: 0 20% 0 30%;
}
.bottom-logo {
  float: left;
  margin-left: 8px;
}
.bottom-logo img {
  height: 100px;
  width: 200px;
  opacity: 0.8;
}
.bottom-logo:hover {
  background-color: #ffffff;
  opacity: 0.6;
}
.order {
  text-align: center;
  margin-top: 20px;
}
.bottom-order {
  width: 124px;
  height: 46px;
  opacity: 0.8;
}
.bottom-order:hover {
  background-color: #ffffff;
  box-shadow: 4px;
}

/* フッター　*/

.footer-contents {
  margin-left: 15%;
  float: both;
}
.inc-bottom {
  height: auto;
}
.back1 {
  display: inline;
  background-image: url(./images/ps_source/background1.png);
  background-repeat: no-repeat;
  width: 300px;
  background-position:-436px center
}
.back1:hover {
  color: #ffffff;
  animation-fill-mode: forwards;
  animation-name: backAction;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
}
