body{
  margin: 0 0;
  padding: 0 0;
  height: 100%;
  width: 100%;
  font-family:'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック',Arial,sans-serif;
    background-color: #E1E2E4;
}
li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
ul {
  margin: 0;
  padding: 0;
}
a {
  text-decoration-line: none;
  color: #ffffff;
}
.wrapper {
  width: 100%;
  height:100%;
}

.container {
  width: 100%;
  height: 100%;
}

p {
  font-size: 14px;
  margin: 10px 0px;
}

.top-container {
  height: 1140px;
  margin: 0 13%;
  position: relative;
}
.top-copy img {
  width: 179px;
}
.top-copy h1 {
  padding: 36px 0 0 66px;
  margin: 0 0;
}
.top-detail {
  width: 196px;
  height: 220px;
  position: absolute;
  top: 24px;
  left: 360px;
}
.top-detail p {
  color:rgba(122,117,117,1);
  font-family: '游明朝', 'Yu Mincho';
  display: inline-block;
  writing-mode: vertical-rl;
  font-size: 28px;
  font-weight: bold;
}
.navies {
  position: absolute;
  right: 160px;
  font-size: 24px;
  color:#808080;
  font-family: '游明朝', 'Yu Mincho';
  height: 300px;
  width: 600px;
  margin: 0 auto;
  position: relative;
  writing-mode: vertical-rl;
}
.navies li {
  position: absolute;
}
.navies a {
  font-weight: bold;
}
.top-images {
  height: 1149px;
  width: 245px;
  position: absolute;
  top: 120px;
  right: 82px;
}
.news {
  position: absolute;
  left: 60px;
  font-size: 12px;
}
.news h1 {
  color: #ffffff;
  margin: 0;
  font-family: '游明朝', 'Yu Mincho';
}
.report {
  font-size: 12px;
  width: 600px;
  height: 200px;
}
.report li {
  width: 600px;
  height: 21.6px;
  margin: 6px 0;
  float: left;
}
.report p {
  float: left;
  text-align: center;
  color: #ffffff;
}
.news-topic {
  margin-left: 8px;
  font-size: 12px;
}
.new {
  width: 64px;
  height: 14px;
  padding: 2px 10px;
  font-size: 10px;
  margin: 10px 6px;
  border-radius: 2px;
  background: linear-gradient(0deg, #494944, #a19593);
}
.company {
  width: 64px;
  height: 14px;
  padding: 2px 10px;
  font-size: 10px;
  margin: 10px 6px;
  border-radius: 2px;
  background-color: rgba(238,157,31,1);
}
.news-lineup p {
  width: 74px;
  height: 28px;
  padding-top: 4px;
  background-color: #ffffff;
  text-align: center;
  font-size: 10px;
}
.news-lineup a {
  color: rgba(1,1,1,1);
}
.news-lineup p:hover {
  background-color: rgba(87,90,91,1);
  color: #ffffff;
}
.sns {
  margin-top: 36px;
}
.sns li {
  float: left;
  color: #ffffff;
  border-radius: 4px;
  margin-right: 20px;
  padding: 4px 6px;
}
.twitter {
  background-color: #1b95e0;
}
.good {
  background-color: rgba(48,67,218,1);
}
#twitter,#good {
  font-weight: bold;
}
#intro {
  width: 640px;
  font-size: 16px;
  color:#ffffff;
  font-family: '游明朝', 'Yu Mincho';
  writing-mode: vertical-rl;
  margin: 0 5% 0 20%;
  position: relative;
  right: 30px;
}

#intro-title {
  font-size: 54px;
  font-weight: bold;
}
#intro-ruby {
  font-size: 16px;
  font-family: sans-serif;
}
#intro-detaile {
  margin-top: 80px;
  float: right;
  font-weight: bold;
}
#slide-navi {
  border: solid 2px #ffffff;
  padding: 4px 2px;
  margin-top: 360px;
  position:absolute;
  left: 30px;
  font-size: 12px;
}
.lineup {
  height: 1000px;
  position: relative;
}
.lineup-top {
  writing-mode: vertical-rl;
  color: #ffffff;
  font-family: '游明朝', 'Yu Mincho';
  margin-top: 150px;
  position: absolute;
  top: 24px;
  right: 134px;
}
#lineup-title {
  font-size: 68px;
}
#lineup-ruby {
  font-size: 16px;
  font-family: sans-serif;
}
#lineup-detaile {
  margin-top: 80px;
  float: right;
  font-weight: bold;
}
.unicorn-item {
  width: 84%;
  height: 600px;
  font-size: 36px;
  margin: 64px 20%;
  position: absolute;
  top: 340px;
  left: 142px;
}

.unicorn-item img {
  width: 150px;
  height: 560px;
  display: inline;
  float: left;
}
.unicorn-item-detail {
  width: 320px;
  margin-left: 60px;
  padding: 20% 0;
  float:left;
}
.utakata-container{
  height: 800px;
  width: 1160px;
  margin: 0 20%;
  display: flex;
  position: relative;
}
.utakata {
  margin-top: 64px;
  margin-left: 30px;
  padding: 60px 0;
  width: 320px;
  height: 550px;
  font-family: '游明朝', 'Yu Mincho';
  background-color: rgba(182,190,195,1);
}
.bancy-item {
  height: 600px;
  font-size: 36px;
  position: absolute;
  right: 200px;
}

.bancy-item img {
  width: 150px;
  height: 560px;
  display: inline;
  position: absolute;
  top: 60px;
  right: 65px;
}
.bancy-item-detail {
  width: 320px;
  padding: 20% 0;
  position: absolute;
  top: 280px;
  right: 260px;
}
.item-wrapper{
  width: 100%;
  height: 10600px;
}
.item-container{
  width: 84%;
  height: 100%;
  margin: 0 auto;
  display: none;
}
.item {
  width: 84%;
  height: 600px;
  font-size: 36px;
  position: relative;
}

.item img {
  width: 440px;
  height: 560px;
  display: inline;
  position: absolute;
}
.item-details {
  width: 320px;
  padding: 20% 0;
  position: absolute;
  top: 80px;
}

@keyframes fadeIn {
  0%{
    opacity: 0;
  }
  100% {
    opacity: 1.0;
  }
}
.show {
  display:block;
  animation-name: fadeIn;
  animation-duration: 2s;
  animation-iteration-count: 1;
}

.slide-wrap {
  height: 1200px;
  width: 900px;
  text-align: left;
  overflow: hidden;
  position: relative;
  margin: 0 auto;
}
.container-slide-block {
  width: 900px;
  height: 600px;
  top: 0px;
  position: absolute;
}
.slide-blocks {
  top: 0;
  position: absolute;
  overflow: hidden;
  position: relative;
}
.slide-blocks ul  {
  height: 600px;
  position: relative;
  float: left;
  display: inline;
  overflow: hidden;
}
.slide-blocks li {
  height: 600px;
  position: relative;
  float: left;
  display: inline;
  overflow: hidden;
}

@keyframes slideNext {
  0% {

    left: 0px;
  }
  100% {
    left: 900px;
  }
}
.next {
  animation-fill-mode: backwards;
  animation-name: slideNext;
  animation-duration: 4s;
  animation-iteration-count: 1;
}

@keyframes slidePrev {
  0% {
    left: 900px;
  }
  100% {
    left: 0px;
  }
}
.prev {
  animation-fill-mode: backwards;
  animation-name: slidePrev;
  animation-duration: 4s;
  animation-iteration-count: 1;
}

.silede li img {
  height: 600px;
  width: 900px;
}
#next-btn {
  position:absolute;
  top: 50%;
  right: 5px;
  z-index: 10;
}
#prev-btn {
  position: absolute;
  top: 50%;
  left: 5px;
  z-index: 10;
}
.points {
  position: fixed;
  top: 20%;
  right: 10px;
  z-index: 10;
}
.point {
  width: 10px;
  height: 10px;
  box-shadow: 1px;
}
.point:hover {
  background-color: #fff;
}
